*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: hsl(0, 0%, 20%);
}
span {
    font-weight: bold;
}
main {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 0%);
}
.header__cases {
    color: orange;
}
.header__deaths {
    color: red;
}
.header__recovered {
    color: green;
}
input {
    width: 30vw;
    padding: 5px;
    border-radius: 8px;
}
@media (max-width: 767px) {
    input {
        width: 100%;
    }
}
.header__h1 {
    text-transform: uppercase;
    font-size: 36px;
}
img {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.header__paragraph-date {
    font-size: 14px;
}