*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: hsl(0, 0%, 15%);
}
span {
    font-weight: bold;
}
main {
    width: 360px;
    padding: 10px;
    margin: 0 auto;
    
}
.header {
    background-color: hsl(0, 0%, 0%);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
}
img {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.header__paragraph-date {
    font-size: 14px;
}
.header__cases {
    color: orange;
}
.header__deaths {
    color: red;
}
.header__recovered {
    color: green;
}
input {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}
.header__h1 {
    text-transform: uppercase;
    font-size: 30px;
}
.country__container {
    background-color: hsl(0, 0%, 0%);
    padding: 7px;
    margin-top: 5px;
    border-radius: 8px;
}
